@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap");

:root {
  --white: #fff;
  --gray: #c4c4c4;
  --light-purple: #564ccf;
  --dark-purple: #4c3fe2;
}
* {
  margin: 0;
  
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #131619;
  
}
.paper{
background-color: #131619;
margin-top: -20px;
}

/* le nav bar */
.navbar{
  background-color: #131619;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
  
}
.navbar ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 20px 0;
  display: flex;
}
.navbar ul li{
  list-style: none;
  text-align: center;
  display: block;

}
.navbar ul li a{
  text-decoration: none;
  padding: 0 30px;
  display: block;
  color: #c6c6c6;
}
.navbar ul li a:hover{
  color: #e22a55;
}
.navbar ul li a .icon{
  font-size: 20px;
}
.navbar ul li a .name{
  font-size: 12px;
}
.navbar ul li a img{
  height: 20px;
  margin: 15px;
  padding-left: 140px;
}
.navbar ul .logo2 img{
  height: 30px;
  width: 30px;
  float: right;
  margin: 10px;
  border-radius: 50%;
}
.navbar ul  label{
  color: #fff;
  float: right;
  margin-top: 10px;
}
.bi-caret-down-fill{
 color: #e22a55;
 margin-top: 17px;
 padding-right: 3px;
}
.navbar ul .btn2{
  background-color:#EE1144;
  width: 50px;
  height: 35px;
  border-radius: 0.6rem;
  margin-top: 8px;
  
}
.navbar ul .btn2:hover{
  background-color: #d80032;
}
/* la partie gauche de la page */

.sidebar {
  width: 312px;
  height: 100%;
  background-color: #131619;
  /*
  position: fixed;*/
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 870px;
}
.sidebar h5{
  color: #fff;
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
}
.sidebar label{
  color: #fff;
  text-align: right;
  font-size:15px;
  font-weight: bold;
}
.sidebar  a{
  text-decoration: none;
  display: block;
  color: #e9053a;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}
.sidebar  a:hover{
  color: #c70835;
  text-decoration: none;
  font-weight: bold;
}
.sidebar hr{
  background-color: #fff;
  text-align: right;
  margin-top: 5px;
}
.sidebar .classement{
  display: flex;
}
.sidebar .classement p{
color:#c4c4c4;
text-align: right;
}
.sidebar .classement p img{
  height: 35px;
  width: 35px;
  margin: 10px;
  border-radius: 50%;
}
.sidebar .classement h6{
  color: #fff;
  margin-top: 10px;
}
.sidebar .classement h4{
  font-size: 12px;
  color: #c4c4c4;
  margin-top: 30px;
  margin-right: -80px;
}
.sidebar .classement h3{
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-right: 150px;
}

/* la parite de milieu de la page  */

main{
  background-color:#131619;
  width: 530px;
  margin-right: 320px;
  margin-top: -800px;
}

/* le post */
main .content{
  background-color: black;
  border-radius: 0.8rem;
  height: 190px;
  width:500px;
  margin: 10px;
}
.content h6{
  color: #fff;
  padding: 16px 30px;
  margin-left: 290px;
}
.content input[type="text"]{
  border-radius: 0.4rem;
  height: 50px;
  width: 450px;
  margin-top: -5px;
  margin-left: 30px;
  border-color: #c70835;
}
.content input[type="text"]:hover{
  border-color: #c70835;
}
input[type="checkbox"]{
  position: relative;
  width: 30px;
  height: 15px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgb(0,0,0,.2);
  transition: .5s;
  margin-top: 4px;
}
input:checked[type="checkbox"]{
      background: #EE1144;
}
input[type="checkbox"]:before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;

}
input:checked[type="checkbox"]:before{
  left: 15px;
}
.content-main{
  text-align: right;
  margin: 10px;
}
.content-main label{
  color: #c6c6c6;
  font-size: smaller;
  margin-top: 2px;
}
.content .btn{
  background-color:#EE1144;
  width: 110px;
  height: 40px;
  border-radius: 0.6rem;
  margin-top: -4px;
  
 
}
.content .btn:hover{
  background-color:#c70835;
}
.content p{
  color: #fff;
  margin-right: 184px;
  margin-top: 4px;

}
.content label{
  color: #fff;
  font-size: smaller;
  margin-right: 8px;
}
.line{
  display: flex;
  margin-top: 20px;
}

/* les réponse des amis */

.reponse{
  background-color: #fff;
  border-radius: 0.8rem;
  height: 220px;
  width:500px;
  margin: 10px;
}
.reponse h6{
  color: black;
  padding: 16px 20px;
  text-align: right;
  font-weight: bold;
  font-size: larger;
}
.reponse h5{
  color: black;
  padding: 16px 20px;
  text-align: right;
  font-size: 17px;
}
.reponse .compte img{
  height: 50px;
  width: 50px;
  float: right;
  margin: 10px;
  margin-top: -8px;
  border-radius: 50%;
}
.reponse .compte2 img{
  height: 40px;
  width: 40px;
  float: right;
  margin: 10px;
  border-radius: 50%;
}
.reponse .compte label{
  float: right;
  font-weight: bold;
  color: rgb(24, 24, 24);
  margin-right: 5px;
  font-size: 13px;
}
.reponse .compte2 label{
  float: right;
  font-weight: bold;
  color: rgb(24, 24, 24);
  margin-right: 2px;
  font-size: 11px;
  margin-top: 14px;
}
.reponse .compte p{
  font-size: 11px;
  color: #919191;
  float: right;
  margin-right: -70px;

}
.reponse .compte2 p{
  font-size: 10px;
  color: #919191;
  float: right;
  margin-right: -90px;
  margin-top: 10px;
}
.reponse .rep label{
  float: right;
  margin-right: -50px;
  margin: 10px;
  text-align: right;
}
.reponse hr{
  width: 90%;
  margin-right: 30px;
  background-color: rgb(199, 199, 199);
}
.reponse .react{
  margin-top: -10px;
  margin-left: 10px;
  
}
.bi-fire:hover{
color: rgb(255, 60, 0);
}
.bi-heart:hover{
  color: #e9053a;
}
.bi-three-dots-vertical{
  float: right;
}
.bi-reply{
  float: right;
}
.bi-person-circle{
  color: #24A3AE;
  margin-top: -6px;
}
.response .btn-outline-dark{
  margin-top: 20px;
}